{% extends 'AppBundle::layout.html.twig' %}


{% block body %}
    <div class="container">
        <h1>page d'accueil du blog</h1>
        <p>
            Hello, bienvenue sur la page d'accueil de la section blog. Ici, si vous êtes authentifié en tant qu'administrateur,
            vous pourrez ajouter, modifier ou supprimer des articles et accéder à la section de modération des commentaires.
        </p>
    </div>

{% endblock %}